*{
    margin: 0;
    padding: 0;
    user-select: none;
}


.goods{
    width: 200px;
    height: 200px;
}


.basic{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

img{
    width: 150px;
    height: 150px;
}


button{
    width: 80px;
    height: 30px;
}




.accordion{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: solid; */
    background-color: rgb(186, 181, 175);
}


.accordion-header{
    width: 100%;
    height: auto;
    font-size: 30px;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


span{
    cursor: pointer;
}


.accordion-main{
    width: 100%;
    height: 700px;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}